.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.button-list{
  width: 100%;
  display: flex;
  justify-content: space-around;
}

#canvas-container {
  /* position: relative; */
  width: 100%;
  height: 100%;
  overflow: auto;
  position: absolute;
  top: 20%;
  left: 80%;
  transform: translate(-80%, -20%);
  z-index: 0;
}

#info-container {
  width: 100%;
  height: 100%;
  overflow: auto;
  position: absolute;
  top: 20%;
  left: 0%;
  transform: translate(-0%, -20%);
  z-index: 0;
}

.my-canvas {
  position: absolute;
  top: 20%;
  left: 80%;
  transform: translate(-80%, -20%);
  width: auto;
}

.grid-canvas {
  z-index: 1;
}

.App-canvas {
  z-index: 2;
}

.my-button1{
  font-size: 36px;
  background:none;
  border:none;
  margin:0;
  padding:0;
  outline:none;
  transition: color 0.5s;
}

.my-button1:hover:enabled{
  cursor: pointer;
}

@keyframes downdown {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(100%);
  }
}

.button-move {
  cursor: default;
  animation: downdown 1s infinite;
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

.spinner {
  animation: spin 2s infinite;
}

.bg-color1 {
  background-color: aquamarine;
}

.color1{
  color:orange;
}

.color2{
  color:lightgreen;
}

.color3{
  color: azure;
}

.my-button1:disabled{
  color:darkgrey;
}

.my-button2{
  font-size: 20px;
  color: PeachPuff;
  background:none;
  border:none;
  margin:0;
  padding:0;
  outline:none;
}

.my-button2:disabled{
  color:darkgrey;
}

.image-container{
  background-color: rgba(30, 30, 30, 1);
  border: 5px #282c34 solid;
}

.unit-container{
  background-color: rgba(54, 54, 54, 1);
  border: 30px rgba(54, 54, 54, 1) solid;
}

.rec-page-top{
  overflow:hidden;
  height:30%
}

.rec-page-down{
  overflow:auto;
  overflow-x: hidden;
  height:70%
}