.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.button-list{
  width: 100%;
  display: flex;
  justify-content: space-around;
}

#canvas-container {
  /* position: relative; */
  width: 100%;
  height: 100%;
  overflow: auto;
  position: absolute;
  top: 20%;
  left: 80%;
  transform: translate(-80%, -20%);
  z-index: 0;
}

#info-container {
  width: 100%;
  height: 100%;
  overflow: auto;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
  position: absolute;
  top: 20%;
  left: 0%;
  transform: translate(-0%, -20%);
  z-index: 0;
}

#info-container::-webkit-scrollbar {
  display: none;
}


.my-canvas {
  position: absolute;
  top: 20%;
  left: 80%;
  transform: translate(-80%, -20%);
  width: auto;
}

.grid-canvas {
  z-index: 1;
}

.App-canvas {
  z-index: 2;
}

.my-button1{
  font-size: 36px;
  background:none;
  border:none;
  margin:0;
  padding:0;
  outline:none;
  transition: color 0.5s;
}

.my-button1:hover:enabled{
  cursor: pointer;
}

@keyframes downdown {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(100%);
  }
}

.button-move {
  cursor: default;
  animation: downdown 1s infinite;
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

.spinner {
  animation: spin 2s infinite;
}

.bg-color1 {
  background-color: aquamarine;
}

.color1{
  color:orange;
}

.color2{
  color:lightgreen;
}

.color3{
  color: azure;
}

.my-button1:disabled{
  color:darkgrey;
}

/* .my-button1:hover:enabled {
  text-shadow: 2px, 2px, peachpuff;
} */

.my-button2{
  font-size: 20px;
  color: PeachPuff;
  background:none;
  border:none;
  margin:0;
  padding:0;
  outline:none;
  transition: all 0.5s;
}

.my-button2:disabled{
  opacity: 0.4;
}

.my-button2:enabled:hover {
  cursor: pointer;
}

.image-container{
  background-color: rgba(30, 30, 30, 1);
  border: 3px rgba(128, 128, 128, 1) solid;
}

.unit-container{
  background-color: rgba(54, 54, 54, 1);
  padding: 30px;
  border: 0px rgba(72, 72, 72, 1) solid;
  border-radius: 30px;
  border-top-left-radius: 0px;
  box-shadow: 5px 5px 3px black;
}

.unit-container1{
  background-color: rgba(54, 54, 54, 1);
  padding: 30px;
  border: 0px rgba(72, 72, 72, 1) solid;
  border-radius: 30px;
  box-shadow: 5px 5px 3px black;
}

.name-tag{
  background-color: rgba(54, 54, 54, 1);
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  box-shadow: 5px 5px 3px black;
  width: 30%;
  text-align:center;
  color:'azure';
}

/* .rec-page-top{
  overflow:hidden;
  height:30%
}

.rec-page-down{
  overflow:auto;
  overflow-x: hidden;
  height:70%
} */

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

.recom-list {
  -webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 1s; /* Firefox < 16 */
   -ms-animation: fadein 1s; /* Internet Explorer */
    -o-animation: fadein 1s; /* Opera < 12.1 */
       animation: fadein 1s;
}

.id-container{
  width: 60%;
  left: 20%;
  position: relative;
  background-color: rgba(176, 196, 222, 0.2);
  border: 0px rgba(72, 72, 72, 1) solid;
  border-radius: 10px;
  padding-bottom: 4px;
  padding-top: 6px;
  margin-bottom: 6px;
  padding-left: 8%;
  text-align: start;
}

.home-button-container {
  margin-bottom: 20px;
}

@keyframes blinker {
  50% {
    opacity: 0.4;
  }
}

@-moz-keyframes blinker {
  50% {
    opacity: 0.4;
  }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes blinker {
  50% {
    opacity: 0.4;
  }
}

/* Internet Explorer */
@-ms-keyframes blinker {
  50% {
    opacity: 0.4;
  }
}